* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    color: rgb(87, 173, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.tree {
    border: 2px solid #bab6b6;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    height: auto;
}

.parent-set {
    margin: 20px 0;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.question-btn {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
}

.plus-icon {
    color: #88f488;
}

.minus-icon {
    color: #ea5858;
}

.child-set {
    padding-left: 2rem;
    display: none;
}

.child-set .chiled {
    border-bottom: 1px solid #bab6b6;
}

.show-child .child-set {
    display: block;
    padding-bottom: 50px;

}

.minus-icon {
    display: none;
}

.show-child .minus-icon {
    display: inline;
    height: auto;
}

.show-child .plus-icon {
    display: none;
}